## Final Project Submission

Please fill out:
* Student name: Lynn Achieng Oloo
* Student pace: full time
* Scheduled project review date/time: 
* Instructor name: Maryann Mwikali
* Blog post URL:

In [ ]:
q1 = """
SELECT *
FROM movie_basics
JOIN movie_ratings
USING (movie_id)
JOIN directors
USING (movie_id)
;
"""

pd.read_sql(q1, conn)